/* font import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Karla:wght@300;400;700&display=swap");
/* ............ */

* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #0b2434;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  padding: 33.28px 34.56px 33.92px 34.56px;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f5f5f5;
}

.description {
  text-align: center;
  line-height: 1rem;
  padding: 0 2rem;
}

.die {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  width: 3rem;
  height: 3rem;
}

.die > img {
  width: 100%;
}

.dot {
  width: 5px;
  height: 5px;
  background: black;
  border-radius: 50%;
}

.dice-container {
  display: grid;
  grid: 1fr 1fr / repeat(5, 1fr);
  gap: 2rem;
}

.roll-btn {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 700;
  background: #5035ff;
  color: #ffffff;
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 8px;
  box-shadow: 0px 5px 30px 10px rgba(0, 0, 0, 0.15);
  transition: all ease-in-out 400ms;
}

.roll-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
